{{> navbar}}
<div class="about-info">     
    <h3>About Application</h3>
    <p>This application was made by student Karel Drnec as Bachelor thesis at 
    <a href="https://www.tul.cz/en/" target="_blank">Technical University of Liberec</a> in 2019. The topic of this thesis is Fault Tree Analysis
    (<a href="https://en.wikipedia.org/wiki/Fault_tree_analysis" target="_blank">FTA</a>). The goal was to make a simple software working with FTA. This FTA software
    provides an easy work with analysis. User can build a diagram with 3 gate types (AND, OR, K/N) and basic events. Diagram can be exported to SVG/PNG. Results of the created system can be saved into text file.</p>
    <h3>Contact</h3>
    <p>If you have any question or need further information, please feel free to contact me.<br>
    My contact is below.
    <address>
        <strong>FTA software</strong><br>
        Karel Drnec<br>
        Technical University of Liberec<br>
        <a href="mailto:#">karel.drnec@tul.cz</a>
    </address>
    </p>
</div>