{{> navbar}}
<div>
    <button type="button" id="buttonDownload" class="btn btn-link" href=""><a href="/files/manual.pdf" download="fta_manual"><i class="fas fa-download"></i> Download</a></button>
</div>
<div class="mt-3 d-flex justify-content-center">
    <embed class="pdf-viewer" src="https://drive.google.com/file/d/1A3yH7qri2mQCzuPXPOr4dGODLIc7yvZV/view?usp=sharing">
</div>


